
* {
    margin: 0px;
    padding: 0px;
}

.header {
    width: 100%;
    height: 300px;
    background: #306a9c;
}

    .header img[src*='Personal.jpg'] {
        border:9px solid #306a9c;
        position: relative;
        top: 170px;
    }
    .sub-header {
        background: #3c3c3c;
    }
    .sub-header img[src*='arrow-down.gif'] {
        margin-top: 70px;
        cursor: pointer;
    }

/* XSmall devices (tablets, 768px and up) */
@media screen and (max-width: 768px) {
    .header {
        height: 250px;
    }
        .header img[src*='Personal.jpg'] {
            width: 250px;
            top: 120px;
        }
}

/* Small devices (desktops, 992px and up) */
@media screen and (max-width: 992px) and (min-width: 768px) {

    .header img[src*='Personal.jpg'] {
        width: 270px;
        top: 170px;
    }
}
/* Medium devices (desktops, 992px and up) */
@media screen and (max-width: 1200px) and (min-width: 992px) {

    .header img[src*='Personal.jpg'] {
        width: 300px;
        top: 140px;
    }
}
/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

    .header img[src*='Personal.jpg'] {
        width: 300px;
        top: 150px;
    }
}
