body {
    margin: 0;
  }
  canvas {
    width: 100%;
    height: 100%;
  }
  .option {
    width: 19%;
    float: left;
    padding: 5px;
  }
  .canvas {
    width: 80%;
    height: 100%;
    float: left;
  }

  .option-grid tr td:nth-child(1){
    width: 20%;
}
.option-grid tr td:nth-child(2){
    width: 70%;
}

input[type = number]{
    border-radius:10px ;
    border: 2px solid #acacac;
    padding: 5px;
    outline: none !important;
}

.title{
    border-bottom: 2px solid rgb(209, 209, 209);
    padding-bottom: 20px;
    color: rgb(78, 78, 78)
}

@media screen and (max-width: 767.98px){
  .option {
    width: 100%;
  }
  .canvas {
    width: 100%;
  }
}
